/*
  --Klasse overskrift fuker opp siden med å utvide den for mye, finne en annen måte å gjøre det på.--

.overskrift{
    position: relative;
    top: -600px;
    right: -900px;
} */


.Senior-kvinner,
.Senior-menn,
.Junior-Gutter,
.Junior-Jenter
{
    position: relative;
    left: 25%; top: -600px;
}

.Senior-menn {
    border-collapse: collapse;
    margin: 40px 0;
    font-size: 1.5em;
    min-width: 1000px;
    border-radius: 4px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);


}

.Senior-menn thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.Senior-menn th,
.Senior-menn td{
    padding: 12px 15px;
}

.Senior-menn tbody tr {
    border-bottom: 1px solid #dddddd;
}

.Senior-menn tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.Senior-menn tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.Senior-menn tbody tr.active-row{
    font-weight: bold;
    color: #009879;
}

/**/
.Senior-kvinner {
    border-collapse: collapse;
    margin: 40px 0;
    font-size: 1.5em;
    min-width: 1000px;
    border-radius: 4px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.Senior-kvinner thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.Senior-kvinner th,
.Senior-kvinner td {
    padding: 12px 15px;
}

.Senior-kvinner tbody tr {
    border-bottom: 1px solid #dddddd;
}

.Senior-kvinner tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.Senior-kvinner tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.Senior-kvinner tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.Junior-Jenter{
    border-collapse: collapse;
    margin: 40px 0;
    font-size: 1.5em;
    min-width: 1000px;
    border-radius: 4px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.Junior-Jenter thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}


.Junior-Jenter th,
.Junior-Jenter td {
    padding: 12px 15px;
}

.Junior-Jenter tbody tr {
    border-bottom: 1px solid #dddddd;
}


.Junior-Jenter tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


.Junior-Jenter tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.Junior-Jenter tbody tr.active-row {
    font-weight: bold;
    color: #009879;
} /**/


.Junior-Gutter{
    border-collapse: collapse;
    margin: 40px 0;
    font-size: 1.5em;
    min-width: 1000px;
    border-radius: 4px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.Junior-Gutter thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}


.Junior-Gutter th,
.Junior-Gutter td {
    padding: 12px 15px;
}

.Junior-Gutter tbody tr {
    border-bottom: 1px solid #dddddd;
}


.Junior-Gutter tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


.Junior-Gutter tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.Junior-Gutter tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}